<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>613556642416-f6agsdp6pc65l4hfm8c00g7rvid0s5t2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.613556642416-f6agsdp6pc65l4hfm8c00g7rvid0s5t2</string>
	<key>API_KEY</key>
	<string>AIzaSyCZW6vZtLPFcQ7miaC2r-6W-OtVpp433OQ</string>
	<key>GCM_SENDER_ID</key>
	<string>613556642416</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.steveit.ChatApp</string>
	<key>PROJECT_ID</key>
	<string>chatapp-dd478</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-dd478.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:613556642416:ios:3ac739d8e7fc1c4ee5cab5</string>
	<key>DATABASE_URL</key>
	<string>https://chatapp-dd478.firebaseio.com</string>
</dict>
</plist>